body{
    font-family: sans-serif;
    background-color: rgb(103, 103, 106);
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    
    
}

.RedLight{
    width: 100px;
    height: 100px;
    background-color: red;
    border: 10px solid rgb(105, 7, 7);
    box-shadow: 0 0 10px red;
    animation: red 1s linear infinite;
    margin: 10px;

}

.RedLightInner {
    width: 100%;
    height: 50px;
    background-color: rgb(237, 167, 167);
    margin: 50px 10px 50px 0px;
    opacity: 60%;
    
}

.YellowLight{
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 10px solid rgb(105, 105, 7);
    margin: 10px;
    box-shadow: 0 0 10px yellow;
    

}

.YellowLightInner {
    width: 50px;
    height: 50px;
    background-color: rgb(199, 199, 164);
    margin: 50px;
    opacity: 60%;
}

.GreenLight{
    width: 100px;
    height: 100px;
    background-color: green;
    border: 10px solid rgb(7, 105, 7);
    margin: 10px;
    box-shadow: 0 0 10px green;
}

.GreenLightInner {
    width: 50px;
    height: 50px;
    background-color: rgb(164, 199, 164);
    margin: 50px 50px 0 0;
    box-shadow: 0 0 10px green;
    opacity: 60%;
}

